/***************************************************
 * Film
 **************************************************/

video
{
	height: 480px;
	width: 720px;
}

/***************************************************
 * Sections
 **************************************************/

.aside
{
	background-color: black;
}

/***************************************************
 * Smaller screens (e.g. mobile)
 **************************************************/

@media only screen and (max-device-width: 700px)
{
	video
	{
		height: auto;
		width: 100%;
	}
}
