/***************************************************
 * Global
 **************************************************/

a
{
	color: #08e;
	cursor: pointer;
	text-decoration: none;
}

a:hover
{
	color: #0e8;
}

a h5
{
	background-color: #08e;
	color: black;
}

a h5:hover
{
	background-color: #0e8;
}

body
{
	color: #666;
	font-family: handwritten, sans-serif;
	margin: 0 5%;
	padding: 0;
	position: relative;
}

canvas
{
	cursor: pointer;
}

h1
{
	font-size: 48px;
	margin: 0;
}

h1 a
{
	color: #666;
}

html
{
	background-image: url("../images/background.jpg");
}

td
{
	vertical-align: top;
}

h2
{
	margin: 0;
}

h3
{
	background-color: rgba(150, 150, 150, 0.5);
	margin: 0;
	padding: 3px;
}

h4
{
	background-color: rgba(200, 200, 200, 0.5);
	margin: 0;
	padding: 3px;
}

h5
{
	font-size: 16px;
	margin: 0;
	padding: 3px;
}

q
{
	display: block;
	font-size: 0.8em;
	font-weight: bold;
}

video
{
	display: block;
}

#loading
{
	display: none;
	position: absolute;
}

/***************************************************
 * Header
 **************************************************/

#header
{
	display: table;
	text-align: center;
	width: 100%;
}

#menu
{
	display: table;
	width: 100%;
}

#menu a
{
	display: table-cell;
}

/***************************************************
 * Sections
 **************************************************/

.aside
{
	float: right;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-top: 1em;
}

.section,
.subSection,
.superSubSection
{
	display: none;
	overflow: auto;
	width: 100%
}

.slideFixer
{
	height: 1px;
}

/***************************************************
 * Buttons
 **************************************************/

/* Round buttons adapted from http://codeitdown.com/css-round-buttons/ */
.roundButton
{
	background-color: #08e;
	border-radius: 50%;
	display: inline-block;
}

.roundButton:hover
{
	background-color: #0e8;
}

.roundButton a
{
	color: black;
}

.roundButton img
{
	display: block;
	padding: 12%;
	width: 76%;
}

.selected
{
	background-color: #0e8;
}

.selected a
{
	cursor: default;
}

/***************************************************
 * Smaller screens (e.g. mobile)
 **************************************************/

@media only screen and (max-width: 899px)
{
	h1
	{
		font-size: 24px;
	}

	img
	{
		max-width: 100%;
	}

	iframe
	{
		max-width: 100%;
	}

	#menu
	{
		display: initial;
	}

	#menu a
	{
		display: block;
	}

	.aside
	{
		margin-left: 0;
		width: 100%;
	}
}
